body {
    font-family: "Raleway", "Open Sans";
    color:white;
    background-color: black;
   
   }

.navbar {
    background-color: transparent !important;
    color:white;
}

.bg-solid{
    background-color: #16a2b7;
    transition: all 2s ease;
}

.h1{
    font-family: "Raleway";
    font-size: 400;
}

/* carousel */
.container_header{
    margin-left: 0;
    margin-right: 0;
}

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* quienes somos */
.fa-iconos{
    font-size: 2em;
    color: #fff;
}

.section-header
{  
    background-color: #16a2b7 !important;  
    padding:0;
}

.section-bg
{
  background-color: black;
}
.section-body
{  
    background-color: black;
    color:white;
    padding:0;
    margin:0;
    text-align:left;
} 

/* destacados */
.card-body-des
{  
    background-color:white;;  
    margin-top: 1.5em;
}

.card-imagen
{
    height:140px;
}

.card-text-des
{ 
  background-color: #16a2b7;  
  color:white;
  text-align:left;
  height:17em;
  padding: 0.5em;
  
}

/*formulario*/
.btn-form{
    color:#ffffff;
    margin:10px;
    padding:10px;
    background-color: #16a2b7;
    margin-bottom: 30px;
  }

/*Footer*/
.bg-footer
{
  background-color: #16a2b7;
}
footer {
  color:white;
  font-weight: bold;
  background-color: #16a2b7;
  font-family: "Raleway";
  font-size: 400;
  position: absolute;
  width: 100%;
  padding:2px
 }

.icon-foot{
  width:50px;
  color:#16a2b7;
  margin:10px;
  padding:10px;
  background-color: white;
}

